<div class="parent">
 <h2 class="heading">My aplication</h2> 
 <!-- <button (click) ="login" >log in by atul </button> -->
 <button (click)="login()" class="btn-login"> Login </button>&nbsp;
 <button routerLink="/signUp" class="btn-login">sign Up</button> &nbsp; 
 <button (click)="studentActivity()"  class="btn-login">student Activity</button> &nbsp;  
 <button routerLink="student/student Demo" class="btn-login">student Demo</button> &nbsp; 
 <button (click)="directives()" class="btn-login"  > Directives</button> <br>
 <button (click)="form()">Form</button> 

   </div>
   